[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_style = tab

[*.{h,c,cc,cpp}]
indent_size = 2

[*.{vcxproj,vcxproj.filters,sln,bat}]
end_of_line = crlf
